<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='dz_base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stub_view.css') }}" rel="stylesheet">
<body>
<div class="nlsn_content">
  <h2 class="news_title">{{ title }}</h1>
  <h2 class="news_subtitle">{{ short_title }}</h2>
    <div class="news_meta">
      <table class="meta_data">
        <tr><td class="key">URL:</td>          <td class="val orig_link">{{url}}</td></tr>
        <tr><td class="key">Sport:</td>        <td class="val">{{ section }}</td></tr>
        <tr><td class="key">Liga:</td>         <td class="val">{{ subsection }}</td></tr>
        <tr><td class="key">Published:</td>    <td class="val">{{ published }}</td></tr>
        <tr><td class="key">Updated:</td>      <td class="val">{{ updated }}</td></tr>
        <tr><td class="key">Fetched:</td>      <td class="val">{{ crawled }}</td></tr>
        <tr><td class="key">Participants:</td> <td class="val">{{ short_title }}</td></tr>
      </table>
    </div>
  <h3 itemprop="headline">{{ preamble }}</h3>
  {% if image1_mimetype and image1_base64data %}
  <div class="najava_pic_wrap">
    <img src="data:{{image1_mimetype}};base64,{{image1_base64data}}" alt="no image"/>
  </div>
  {% endif %}
  <div class="news_body">{{ content | safe }}</div>
</div>
<div class="align-center">
  <div class="news_datas">{{ subtable | safe }}</div>
</div>
</body>
</html>
