
.dz-server-time {
  float: right;
  margin: -8px 0 0;
  color: #fff;
  font-size: 85%;
  text-align: center;
}

.dz-top-nav {
  margin: 0;
  overflow: hidden;

  padding: 0;
  @media (min-width: 1050px) {
    padding-left: calc(50% - 440px);
  }

  li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;

    margin: 0 3px;
    padding: 0 4px;
    @media (max-width: 1000px) {
      padding: 0;
    }
  }
}

.dz-lang-selector {
  float: right;
  margin: auto 10px;
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
  }

  .dz-lang-btn {
    /* override styles from admin/base.css */
    margin: 0 2px !important;
    padding: 1px 5px !important;

    /* override base.css styles, .delete-confirmation form input[type="submit"] */
    background: #79aec8 !important;

    &:hover {
      text-decoration: underline;
    }

    &.dz-lang-current {
      color: #f5dd5d !important;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
