
#content {
  padding: 10px 20px;
}

#footer {
  padding: 0;
}

#changelist {
  margin-bottom: 0;
}

#changelist-filter {
  select {
    background-color: #f8f8f8;
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 0;
  }

  &.hidden {
    h2 {
      margin-bottom: 0;
    }

    h2 ~ * {
      display: none;
    }

    #toolbar {
      display: none;
    }
  }

  #toolbar {
    margin: 0;

    #changelist-search {
      label {
        float: left;
      }

      #searchbar {
        width: 189px;
        margin: 0;
      }

      input[type="submit"],
      .small.quiet {
        display: none;
      }
    }
  }
}

#changelist-filter + #changelist-form {
  .results {
    width: calc(100% - 255px);
  }
}

#changelist-filter.hidden + #changelist-form {
  .results {
    width: 100%;
  }
}

#changelist-form {
  .results {
    min-width: 680px;
    min-height: 340px;
    overflow: auto;
    margin-top: 5px;

    width: 100%;
    height: calc(100vh - 250px);
  }
}

.object-tools {
  margin-right: 20px;
}
