$header-line-height: 40px;
$header-vert-padding: 10px;
$breadcrumbs-line-height: 19px;
$breadcrumbs-vert-padding: 10px;
$content-vert-padding: 10px;
$content-h1-line-height: 27px;
$content-h1-vert-padding: 10px;
$xfull-line-height: 27px;
$actions-line-height: 26px;
$actions-vert-padding: 10px;
$results-top-margin: 5px;
$paginator-line-height: 22px;
$paginator-vert-padding: 10px;
$paginator-border-height: 1px;

$filter-title-color: #79aec8;


.object-tools {
  margin-right: 20px;
}

#content {
  padding: $content-vert-padding 20px;
}

#footer {
  padding: 0;
}

#changelist {
  margin-bottom: 0;
}

#changelist-filter {
  select {
    background-color: #f8f8f8;
    width: calc(100% - 30px);
    margin: 0 15px;
    padding: 0;
  }

  h2 {
    cursor: pointer;
    background-color: $filter-title-color;
    transition: all linear .2s;

    &:hover {
      background-color: adjust-color($filter-title-color, $lightness: -20%);
      text-decoration: underline;
    }
  }

  &.hidden {
    h2 {
      margin-bottom: 0;
    }

    h2 ~ * {
      display: none;
    }

    #toolbar {
      display: none;
    }
  }

  #toolbar {
    margin: 0;

    #changelist-search {
      label {
        float: left;
      }

      #searchbar {
        width: 189px;
        margin: 0;
      }

      input[type='submit'] {
        display: none;
      }

      .small.quiet {
        display: none;
      }
    }
  }
}

#changelist-filter + #changelist-form {
  .results {
    width: calc(100% - 255px);
  }
}

#changelist-filter.hidden + #changelist-form {
  .results {
    width: 100%;
  }
}


$_page-top-height: $header-line-height + $header-vert-padding * 2 + $breadcrumbs-line-height + $breadcrumbs-vert-padding * 2 + $content-vert-padding;
$_content-top-height: $content-h1-line-height + $content-h1-vert-padding * 2 + $xfull-line-height + $actions-line-height + $actions-vert-padding * 2;
$_content-bottom-height: $paginator-line-height + ($paginator-vert-padding + $paginator-border-height) * 2 + $content-vert-padding;

$all-but-results-height: $_page-top-height + $_content-top-height + $results-top-margin + $_content-bottom-height;

#changelist-form {
  .results {
    min-width: 680px;
    min-height: 340px;
    overflow: auto;
    margin-top: $results-top-margin;

    width: 100%;
    height: calc(100vh - #{$all-but-results-height});
  }
}
