
body {
  &.model-tip {
    .field-col_tip {
      min-width: 240px;
    }
  }

  &.model-news {
    .field-col_content {
      min-width: 240px;
    }

    .field-title {
      min-width: 150px;
    }
  }
}

#result_list {
  td.field-url,
  td.field-details_url {
    font-size: 70%;
  }
}

.dz_pre {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 4px;
}

.dz_title {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 4px;
}

.dz_body {
  a,
  button.btn-link {
    font-weight: bold;
  }
}
