
body {
  &.model-tip {
    .field-content_cut {
      min-width: 240px;
    }
  }

  &.model-news {
    .field-content_cut {
      min-width: 240px;
    }

    .field-title {
      min-width: 150px;
    }
  }
}

#result_list {
  width: auto;
  height: auto;

  td,
  th {
    border: 1px solid #ddd;
  }

  th {
    text-transform: capitalize;
    white-space: normal;
  }

  tr {
    &:hover {
      background-color: #f4f8ff;
    }
  }

  td.field-link_str {
    font-size: 70%;
  }
}

.dz_pre {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 4px;
}

.dz_title {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 4px;
}

.dz_body {
  a,
  button.btn-link {
    font-weight: bold;
  }
}
