{% extends "admin/base.html" %}
{% load admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'dz/dz-base.css' %}" />
{% endblock %}

{% block nav-global %}
  {{ block.super }}

  <ul class="dz-top-nav">
  {% for model in dz_models %}
    <li><a href="{{ model.url }}">{{ model.name }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}

{% block usertools %}
  {{ block.super }}
  {% block lang-selector %}
    {% include "admin/dz/lang_selector.html" %}
  {% endblock %}
{% endblock %}
