django==1.9.6
dj-database-url==0.4.1
django-import-export==0.4.5
pytz==2016.4
vanko-tools==0.1.1
jinja2==2.8

flask==0.10.1
flask-admin==1.4.0
flask-login==0.3.2
flask-sqlalchemy==2.1
flask-sslify==0.1.5
wtforms==2.1

scrapy==1.0.5
# sudo apt install libxml2-dev libxslt1-dev
# export CFLAGS=-I/usr/include/libxml2
lxml==3.6.0
# sudo apt install libjpeg-dev
pillow==3.2.0
# sudo apt install libffi-dev
cffi==1.6.0
twisted==15.5.0
selenium==2.48.0
python-dateutil==2.4.2
requests==2.10.0
sqlalchemy==1.0.12

gunicorn==19.4.5
flake8==2.5.4
ipython==4.2.0
ipdb==0.10.0
django-debug-toolbar==1.4
