
.news-close + * {
    clear: both;
}

.news-close {
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin: 4px 5px 1px;
    padding: 1px 2px;
    border-radius: 4px;
    border: 2px solid #bb4b00;
    background: #ffd8bd;
    color: #bb4b00;
    box-shadow: 2px 2px 5px #999;
    transition: all linear 0.1s;
}

.news-close:hover {
    border: 2px solid #98121d;
    background: #f3d9c3;
    color: #98121d;
    box-shadow: 3px 3px 5px #666;
}

.news-meta {
    width: 600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 16px;
}

.news-meta .news-key {
    font-weight: bold;
    padding-right: 10px;
}

.news-meta .news-val {
    color: #444;
}

.news-link {
    font-size: 85%;
    font-style: italic;
    color: #999;
    display: table-cell;
    vertical-align: middle;
}

.news-title {
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}

.news-subtitle {
    color: #000 !important;
    text-align: right;
    font-size: 18px !important;
    font-style: italic !important;
    padding-left: 20px !important;
    padding-right: 40px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    padding-bottom: 9px !important;
}

.news-content a {
    text-decoration: none !important;
    color: #000 !important;
    cursor: text !important;
}

.news-subtable {
    width: 700;
    margin-left: auto ;
    margin-right: auto ;
}

/* overrides */

#nlss_table {
    display:none !important;
}

.najava_pic_wrap {
    float: right !important;
}

body {
    background-color: #fff !important;
}
