.news-close {
  position: fixed;
  top: 4px;
  right: 5px;
  font-size: 13px;
  font-weight: bold;
  padding: 1px 2px;
  border-radius: 4px;
  border: 3px solid #bb4b00;
  background: #ffd8bd;
  color: #bb4b00;
  box-shadow: 2px 2px 5px #000;
  opacity: .4;
  transition: opacity linear .2s;

  &:hover {
    border: 2px solid #98121d;
    background: #f3d9c3;
    color: #98121d;
    box-shadow: 3px 3px 5px #666;
    opacity: 1;
  }
}

.news-meta {
  width: 600px;
  margin: 8px 0 16px auto;

  .news-key {
    font-weight: bold;
    padding-right: 10px;
  }

  .news-val {
    color: #444;
  }
}

.news-link {
  font-size: 85%;
  font-style: italic;
  color: #999;
  display: table-cell;
  vertical-align: middle;
}

.news-datatable {
  width: 700;
  margin-left: auto;
  margin-right: auto;
}
