#result_list {
  width: auto;
  height: auto;

  td,
  th {
    border: 1px solid #ddd;
  }

  th {
    text-transform: capitalize;
    white-space: normal;
  }

  tr {
    &:hover {
      background-color: #f4f8ff;
    }
  }
}
