
.dz-server-time {
  float: right;
  position: relative;
  top: -8px;
  margin: 0; // override `p { margin-top: 2px; }` from base.css
  color: #fff;
  font-size: 85%;
  text-align: center;
}

#header {
  text-align: center;
}

.dz-top-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  li {
    display: inline-block;
    list-style-type: none;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 3px 2px 4px #000;

    padding: 0;
    margin: 0 4px 0 0;
    transition: margin-right linear .2s;

    @media (min-width: 1040px) {
      margin-right: 14px;
    }
  }
}

.dz-lang-selector {
  float: right;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style-type: none;
  }

  .dz-lang-btn {
    // override styles from admin/base.css
    margin: 0 2px !important;
    padding: 1px 5px !important;

    // override base.css styles, .delete-confirmation form input[type="submit"]
    background: #79aec8 !important;

    &:hover {
      text-decoration: underline;
    }

    &.dz-lang-current {
      color: #f5dd5d !important;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
