.table {
  // FIXME workaround for strange font-size 16/18px
  font-size: inherit;

  // prevent wrapping of column headers
  th {
    white-space: nowrap;
  }
}

.row_actions {
  white-space: nowrap;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #006;
    }
  }
}

.dz-crawl-form {
  margin: 5px 8px;
}
