.col-row_actions {
  white-space: nowrap;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #006;
    }
  }
}

.dz-crawl-form {
  margin-left: 8px;

  // center vertically
  position: relative;
  top: 5px;
}
