// override bootstrap3 styles

.table {
  // FIXME workaround for strange font-size 16/18px
  font-size: inherit;

  // prevent wrapping of column headers
  th {
    white-space: nowrap;
  }
}

.dz-pagination__ellipsis {
  span {
    // We use bootstrap class `disable` to disable clicking on continuation cells
    // of paginator, but "not-allowed" cursor over them looks ugly and irrelevant.
    cursor: default !important;
    user-select: none;
  }
}
