{% extends 'dz/tables/base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}


{% block title %}{{ verbose_name_plural|title }} | {% trans 'D.Z.' %}{% endblock %}


{% block messages %}
  {% include './_messages.html' %}
{% endblock messages %}


{% block content %}
<div class="container-fluid">
  {% block table-tools %}
    <ul class="nav nav-tabs table-tools">
      {% block list-total %}
        <li class="active">
          <a href="javascript:void(0);">
            {% blocktrans with size=table.data|length %}List ({{size}}){% endblocktrans %}
          </a>
        </li>
      {% endblock list-total %}

      {% block crawl-form %}
        {% include './_crawl-form.html' %}
      {% endblock crawl-form %}

      {% block row-action-menu %}
        {% include './_row-action-menu.html' %}
      {% endblock row-action-menu %}
    </ul>
  {% endblock table-tools %}

  {% block results %}
    {% render_table table 'dz/tables/_table.html' %}
  {% endblock results %}
</div>
{% endblock content %}


{% block footer %}
  {# reserve html form for row actions #}
  {% block row_action_form %}
    {% include './_row-action-form.html' %}
  {% endblock row_action_form %}

  {# reserve html block for tip modals #}
  {% block modal_target %}
    <div id="tipbox-popup" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          {# dynamic content will be loaded here #}
        </div>
      </div>
    </div>
  {% endblock modal_target %}
{% endblock footer %}
