# dz bot installer
Set-PSDebug -Trace 1
$DebugPreference = "Continue"

$bot_opts="--service=1 --server={{ bot_scheme }}://{{ bot_server_name }}{{ bot_api_url }} --secret={{ bot_secret_key }} {{ bot_extra_args }}"

$svc="{{ bot_service }}"
$exe_dir="{{ bot_run_dir }}"
$log_dir="{{ bot_log_dir }}"

$nssm="$exe_dir\bot\nssm.exe"
$unzip="{{ win_setup_dir }}\unzip.exe"
$dist_zip="{{ win_setup_dir }}\dz-bot-dist.zip"
$bot_exe="$exe_dir\bot\bot.exe"

sc.exe stop $svc
sc.exe delete $svc

if (test-path $exe_dir) { rm -recurse $exe_dir }
new-item $exe_dir -itemType directory

if (!(test-path $log_dir)) { new-item $log_dir -itemType directory }

& $unzip $dist_zip -d $exe_dir

& $nssm remove $svc confirm
& $nssm install $svc "$bot_exe"
& $nssm set $svc AppParameters "$bot_opts"
& $nssm set $svc AppStdout $log_dir\$svc.out
& $nssm set $svc AppStderr $log_dir\$svc.out
& $nssm set $svc AppRotateFiles 0
& $nssm start $svc
sc.exe config $svc start= auto

$DebugPreference = "SilentlyContinue"
write-host "done!"
