
.news_meta {
    width: 600px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 16px;
}

.key {
    font-weight: bold;
    padding-right: 10px;
}

.val {
    color: #444;
}

.orig_link {
    font-size: 85%;
    font-style: italic;
    color: #999;
    display: table-cell;
    vertical-align: middle;
}

#nlss_table {
    display:none !important;
}

.align-center {
    width: 700;
    margin-left: auto ;
    margin-right: auto ;
}

h2.news_title {
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}

h2.news_subtitle {
    color: #000 !important;
    text-align: right;
    font-size: 18px !important;
    font-style: italic !important;
    padding-left: 20px !important;
    padding-right: 40px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    padding-bottom: 9px !important;
}

.news_body a {
    text-decoration: none !important;
    color: #000 !important;
    cursor: text !important;
}

.najava_pic_wrap {
    float: right !important;
}

body {
    background-color: #fff !important;
}
