
ul.dz-top-nav {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: calc(40% - 200px);
}

ul.dz-top-nav li {
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px #333;
}


ul.dz-lang-selector {
    float: right;
    margin: auto 10px;
    padding: 0;
}

ul.dz-lang-selector li {
    display: inline-block;
    list-style-type: none;
}

ul.dz-lang-selector .dz-lang-btn {
    padding: 1px 5px;
    margin: 0 2px;
}

ul.dz-lang-selector .dz-lang-btn:hover {
    text-decoration: underline;
}

ul.dz-lang-selector .dz-lang-btn.dz-lang-current {
    color: #f5dd5d;
}

ul.dz-lang-selector .dz-lang-btn:hover {
    text-decoration: none;
}
