
.dz-pre {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 4px;
}

.dz-title {
  font-weight: bold;
  font-size: 90%;
  margin-bottom: 4px;
}

.dz-body {
  a {
    font-weight: bold;
  }
}
