{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block userlinks %}
  <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block object-tools %}
<ul class="object-tools">
  {% block object-tools-items %}
    {% if has_add_permission %}
      {{ block.super }}
    {% endif %}
    {% if can_crawl %}
      <li><a href="crawl/{{ cl.get_query_string }}" class="golink">Crawl {% trans cl.opts.verbose_name_plural %}</a></li>
    {% endif %}
    {% if can_export %}
      <li><a href="export/{{ cl.get_query_string }}" class="export_link">{% trans "Export" %}</a></li>
    {% endif %}
  {% endblock %}
</ul>
{% endblock %}
