{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% blocktrans with id=obj.id %}News stub {{id}}{% endblocktrans %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% blocktrans with id=obj.id %}News stub {{id}}{% endblocktrans %}</h1>
{% endblock %}

{% block usertools %}
<button class="dz-close-btn" onclick="window.close()">{% trans 'Close' %}</button>
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{{ obj.content | safe }}
{% endblock %}
