{% load static i18n %}
<html>
<head>
    <title>{{ obj.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'dz-news-stub/dz-base.css' %}" rel="stylesheet">
    <link href="{% static 'dz-news-stub/stub-view.css' %}" rel="stylesheet">
</head>
<body>
<div class="nlsn_content">
  <button onclick="window.close()">{% trans 'close' %}</button>
  <h2 class="news_title">{{ obj.title }}</h2>
  <h2 class="news_subtitle">{{ obj.short_title }}</h2>
    <div class="news_meta">
      <table class="meta_data">
        <tr><td class="key">URL:</td>          <td class="val orig_link">{{ obj.url }}</td></tr>
        <tr><td class="key">Sport:</td>        <td class="val">{{ obj.section }}</td></tr>
        <tr><td class="key">Liga:</td>         <td class="val">{{ obj.subsection }}</td></tr>
        <tr><td class="key">Published:</td>    <td class="val">{{ obj.published }}</td></tr>
        <tr><td class="key">Updated:</td>      <td class="val">{{ obj.updated }}</td></tr>
        <tr><td class="key">Fetched:</td>      <td class="val">{{ obj.crawled }}</td></tr>
        <tr><td class="key">Participants:</td> <td class="val">{{ obj.short_title }}</td></tr>
      </table>
    </div>
  <h3 itemprop="headline">{{ obj.preamble }}</h3>
  <div class="news_body">{{ obj.content | safe }}</div>
</div>
<div class="align-center">
  <div class="news_datas">{{ obj.subtable | safe }}</div>
</div>
</body>
</html>
